*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  background-color: hsl(180, 52%, 96%);
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

main {
  margin: 0 30px;
}

.main-header {
  background: url(../images/bg-header-mobile.svg);
  background-color: hsl(180, 29%, 50%);
  width: 100%;
  height: 25vh;
}

.filter-box {
  background-color: #fff;
  padding: 2rem;
  margin: 0 30px;
  border-radius: 5px;
  position: relative;
  top: -50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filter-box a {
  color: hsl(180, 8%, 52%);
  font-weight: 700;
  font-size: 1.7rem;
}
.filter-box a:hover {
  color: hsl(180, 29%, 50%);
  text-decoration: underline;
}

.filters-list {
  display: flex;
  flex-wrap: wrap;
}

.filter-tag {
  background-color: hsl(180, 31%, 95%);
  margin-right: 20px;
  margin-top: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 10px;
  padding-left: 1rem;
  color: hsl(180, 29%, 50%);
  font-weight: 700;
}
.filter-tag img {
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  background-color: hsl(180, 29%, 50%);
  padding: 1rem;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}
.filter-tag img:hover, .filter-tag img:focus {
  background-color: hsl(180, 14%, 20%);
}

.job-card {
  background-color: #fff;
  border-radius: 5px;
  padding: 0 2rem;
  border-left: 5px solid hsl(180, 29%, 50%);
  margin-bottom: 5rem;
}
.job-card .job-img {
  position: relative;
  top: -30px;
  left: 10px;
}
.job-card .job-img img {
  width: 20%;
  height: 20%;
  object-fit: cover;
}
.job-card .job-content header {
  display: flex;
  gap: 20px;
  align-items: center;
  transform: translateY(-20px);
}
.job-card .job-content .company {
  margin: 0;
  color: hsl(180, 29%, 50%);
  font-weight: 700;
  font-size: 2rem;
  font-family: "League Spartan", sans-serif;
}
.job-card .job-content .job-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.job-card .job-content .job-info .position {
  margin: 0;
  font-weight: 700;
  font-family: "League Spartan", sans-serif;
  cursor: pointer;
}
.job-card .job-content .job-info .position:hover {
  color: hsl(180, 29%, 50%);
}
.job-card .job-content .job-info .job-props {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  color: hsl(180, 8%, 52%);
  font-family: "League Spartan", sans-serif;
  font-weight: 500;
  position: relative;
  font-size: 1.6rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid hsl(180, 8%, 52%);
}
.job-card .job-content .job-info .job-props .job-prop::after {
  content: ".";
  font-size: 3rem;
  padding-left: 1rem;
  position: relative;
  top: -5px;
}
.job-card .job-content .job-info .job-props .job-prop:last-child::after {
  content: "";
}
.job-card .job-languages-tools {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  padding: 20px 0;
}
.job-card .job-languages-tools .language-tag {
  background-color: hsl(180, 31%, 95%);
  border-radius: 5px;
  text-align: center;
  padding: 0.5rem 1rem;
  color: hsl(180, 29%, 50%);
  font-weight: 700;
  cursor: pointer;
}
.job-card .job-languages-tools .language-tag:hover, .job-card .job-languages-tools .language-tag:focus {
  background-color: hsl(180, 29%, 50%);
  color: #fff;
}

.commercial-tag {
  border-radius: 50px;
  padding: 0.5rem 1rem;
  font-weight: 700;
  font-size: 1.3rem;
  text-transform: uppercase;
}

.commercial-tag--new {
  background-color: hsl(180, 29%, 50%);
  color: #fff;
  display: none;
}
.commercial-tag--new.active {
  display: inline;
}

.commercial-tag--featured {
  background-color: hsl(180, 14%, 20%);
  color: #fff;
  display: none;
}
.commercial-tag--featured.active {
  display: inline;
}